<div class="navbar bg-white shadow">
  <div class="navbar-start">
    <%= ui_button "DaisyOnRails", url: user_dashboard_path, kind: :ghost %>
  </div>
  <div class="navbar-center hidden">

  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to t("about"), page_path(:about), class: "hidden md:block" %>
      </li>
      <li>
        <%= link_to t("documentations.navbar_title"), page_path(:documentations), class: "hidden md:block" %>
      </li>
    </ul>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= ui_dropdown align: :end, content_classes: "mt-3", id: "navbar_toggle" do |c| %>
            <% c.with_menu_item_link_to t("admin"), avo_path, display: Current.user&.admin? %>
            <% c.with_menu_item_link_to t("navbar.sessions"), user_sessions_path %>
            <% c.with_menu_item_link_to t("navbar.password"), edit_password_path %>
            <% c.with_menu_item_divider %>
            <% c.with_menu_item_button_to t("sign_out"), Current.session, method: :delete, id: :sign_out %>
            <% c.with_toggle_open do %>
              <%= heroicon "x-mark", options: {class: "w-6 h-6"} %>
            <% end %>
            <% c.with_toggle_close do %>
              <%= heroicon "bars-3", options: {class: "w-6 h-6"} %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
