<div class="container flex flex-col items-center">

  <h1 class="text-center mb-8"><%= t(".title") %></h1>

  <%= form_with(url: password_path, method: :patch, class: "flex flex-col max-w-sm gap-6 w-full") do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.ui_password_field :password_challenge,
          required: true,
          autofocus: true,
          label: false,
          autocomplete: "current-password",
          placeholder: t(".current_password") %>

    <%= form.ui_password_field :password,
          required: true,
          autofocus: true,
          label: false,
          autocomplete: "new-password",
          placeholder: t(".new_password") %>

    <%= form.ui_password_field :password,
          required: true,
          autofocus: true,
          label: false,
          autocomplete: "new-password",
          placeholder: t(".new_password_confirmation") %>

    <div>
      <%= form.ui_submit t(".update_password") %>
      <%= ui_button t("cancel"), url: user_dashboard_path, kind: :primary, outline: true %>
    </div>
  <% end %>
</div>
