<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="min-h-[100vh-4rem]">
    <%= render "shared/navbar" %>
    <div class="container mt-8 mb-20 prose max-w-4xl">
      <h1 class="text-center text-primary mb-8"><%= current_page.data.title %></h1>
      <%= yield %>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
